/* Estilos generales para la versión de escritorio */
.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea el contenido al centro horizontalmente */
    gap: 15px; /* Espacio entre la frase y los iconos */
    padding: 20px;
    background-color: black;
    color: white;
}

.welcome-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.welcome-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-icons img {
    width: 40px;
    height: auto;
    margin: 0 5px; /* Espacio reducido entre los iconos */
}

/* Estilos para la versión responsive */
@media only screen and (max-width: 390px) and (max-height: 844px) {
    .welcome-container {
        flex-direction: column;
        text-align: center;
        background: url('../img/neblina.jpg') no-repeat center center;
        background-size: cover;
        padding: 20px;
    }

    .welcome-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .welcome-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .welcome-icons img {
        margin: 5px;
    }
}
